<div>
  <form (ngSubmit)="addPost()">
    <label for="author">Post Author</label>
    <input
      id="author"
      type="text"
      [(ngModel)]="newUserName"
      name="postUser"
      required
    />
    <div *ngIf="showError && !newUserName.trim()" style="color: red">
      Please fill in the post author
    </div>
    <label for="title">Title</label>
    <input
      id="title"
      type="text"
      [(ngModel)]="newPost.title"
      name="postTitle"
      required
    />
    <div *ngIf="showError && !newPost.title.trim()" style="color: red">
      Please fill in the title
    </div>
    <label for="body">Body</label>
    <input
      id="body"
      type="text"
      [(ngModel)]="newPost.body"
      name="postBody"
      required
    />
    <div *ngIf="showError && !newPost.body.trim()" style="color: red">
      Please fill in the body
    </div>
    <button type="submit">Add</button>
  </form>
</div>
