div {
  display: flex;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 20px;
  background: rgb(87, 189, 248);
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  max-width: 500px;
  border-radius: 6px;
  input {
    outline: none;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
  }
  button {
    position: relative;
    left: 0;
    max-width: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 5px;
    background-color: rgb(216, 3, 3);
    cursor: pointer;
  }
  label {
    color: #fff;
    margin-top: 5px;
  }
}
